.user-card {
    border-radius: 0.5rem;
    box-shadow: darkgray 0px 0px 5px 0.2px;
    background-color: white;
    margin: 0.5rem;
    height: 8rem;
    width: 15rem;
}

.user-avatar-container {
    height: 100%;
    width: 40%;
    float: left;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.avatar {
    width: 90%;
    margin: 5%;
}

p{
    margin: 0.2rem;
}

.username{
    font-size: 1rem!important;
    font-weight: bold;
    margin-top: -0.5rem;
}

.location{
    font-size: 0.5rem;
    color: darkgray;
    margin-top: -0.3rem;
}

.follower_number{
    font-size: 0.5rem;
    color: darkgray;
    margin-top: -0.3rem;
}

.profile{
    font-size: 15%;
    margin-top: 2%;
}
.register_time{
    font-size: 10%;
    margin-right: 1%
;
}

.user-description-container{
    height: 100%;
    width: 55%;
    float: right;
    margin-top: 1rem;
}
