.ask-question-view-container{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eeeeee;
    padding: 2rem;
}

.input-box {
    width: 99%;
    height: 1.5rem;
    border-radius: 0.5rem;
    border-color: gray;
    border-width: 0.5px;
}

.ask-question-container {
    background-color: white;
    margin-top: 2rem;
    width: 50rem;
    padding: 1rem;
}

.raw-text-editor {
    width: 100%;
    margin-top:1rem;
    margin-bottom: 1rem;
}

.markdown-editor {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.chosen-tags {
    margin-top: 1rem;
}