h2 {
    font-weight: normal!important;
}
.central-container{
    width: 65%;
    float: left;
}
.side-container{
    width: 28%;
    float: right;
    margin-right: 3%;
}
.title-container {
    height: 10vh;
    margin-left: 1rem;
}

.filter-container {
    height: 5vh;
}

.question-list-container {
    height: auto;
    width: 100%;
}

