.top-search-bar-container {
    width: 100%;
    height: 100%;
    background-color: #171134;
}

.top-logo-container {
    display: inline-block;
    width: 25vw!important;
    position:absolute;
    top: 0;
    left: 0;
}

.top-search-box-container{
    display: inline-block;
    width: 50vw;
    height:2rem;
    margin-top: 0.5rem;
    position: absolute;
    left: 25vw;
    top: 0;
}

.logout-button-container {
    display: inline-block;
    width: 20vw;
    height: 3rem;
    position: absolute;
    left: 75vw;
    top: 0;
}

.my-avatar {
    display: inline-block;
    padding: 0.5rem;
    width: 20%;
}

.logout-button{
    float: right;
    width: 45%;
    line-height: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    margin-top: 0.6rem;
    background-color: deepskyblue;
    color: white;
    text-align: center;
    border-color: red;
    border-radius: 5px;
    border-width: thick;
}

.login-button{
    float: right;
    width: 15%;
    line-height: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    margin-top: 0.6rem;
    background-color: deepskyblue;
    color: white;
    text-align: center;
    border-color: red;
    border-radius: 5px;
    border-width: thick;
}

