
.question-popularity-container {
    color: gray;
    margin-bottom: 0.5rem;
    font-size: 0.3rem;
}
.question-card-title{
    color: #213547;
    font-size: 1rem;
}
.rank-card{
    border-radius: 0.3rem;
    box-shadow: darkgray 0px 0px 5px 0.2px;
    background-color: white;
    margin: 1rem;
    width:100%;
}