h2 {
    font-weight: normal!important;
}

.questions-view-container {
    min-width: 1000px
}

.central-container{
    width: 65%;
    float: left;
}
.side-container{
    width: 28%;
    float: right;
    margin-right: 3%;
}
.title-container {
    height: 10vh;
    margin-left: 1rem;
}

.filter-container {
    height: 5vh;
    margin-left: 1rem;
}

.question-list-container {
    height: auto;
    width: 100%;
}

.post-question {
    background-color: deepskyblue;
    color:white;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: darkgray 0px 0px 5px 0.2px;
    display: inline-block;
    border-radius: 0.5rem;
    width: 6rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.9rem;
    cursor: pointer;
}
.post-question:hover {
    background-color: #89ddff;
}


