.info-all{
    padding-left: 2%;
}
.view-title{
    height: 6%;
    font-size: 5%;
    marginLeft: 10px;
    color: #4b6584;
}
._user-avatar-container {
    height: 100%;
    width:15%;
    margin-top: 1%;
    margin-left: 4%;
}
.simple-info{
    width:100%;
    height:20vh;
    display: flex;
}
.user-description-container{
    height: 100%;
    width:80%;
    margin-top: 1%;
    margin-left: 4%;
}

.details{

    width: 100%;
}

.user-card {
    border-radius: 0.5rem;
    box-shadow: darkgray 0px 0px 5px 0.2px;
    background-color: white;
    margin: 0.5rem;
    height: 8rem;
    width: 17rem;
}



._avatar {
    width: 100%;
    margin:1%;
    border-radius: 10%;
}

p{
    margin: 0.2rem;
}

.username{
    font-size: 100%;
    font-weight: bold;
    margin-top: 1%;
    color: #535bf2;
}

.location{
    font-size: 0.5rem;
    color: darkgray;
    margin-top: -0.3rem;
}

.follower_number{
    font-size: 0.5rem;
    color: darkgray;
    margin-top: -0.3rem;
}

.profile{
    font-size: 0.75rem;
    margin-top: -0.2rem;
}

